
build*/
venv/
qt_build/
CMakeCache*
CMakeFiles/
cmake-build-debug/
*.log
statistic_out.csv
*/statistic_out.csv
**/statistic_out.csv
*.pro.user
*Debug*
!*.cpp
tmp/
isa_intrinsic_lib/doc/
*.autosave
*.idea
.vscode

# Personal A
token

*.a
*.o
*.bin
*.hex
*.elf
*.objdump
*.readelf


*.so

*/cmake-build-*/
**/cmake-build-*/
